@{
    ViewBag.Title = "API Documentation";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>


    <p>You can also access the functionality of the website via an API</p>

    <p>hotrightnow.azurewebsite.net/API/{function}/{latitude}/{longtitude}</p>

    <p>The fuctions currently available are Nearby and Explore</p>

    <p>Please Note - the decimal point the latitude and longtitude should be replaced with an underscore</p>

    <p> Examples</p>

    <p><a href="http://hotrightnow.azurewebsites.net/API/Nearby/54_6/-1_5">http://hotrightnow.azurewebsites.net/API/Nearby/54_6/-1_5</a></p>

    <p><a href="http://hotrightnow.azurewebsites.net/API/Explore/48_7/-1">http://hotrightnow.azurewebsites.net/API/Explore/48_7/-1</a></p>

</div>

