@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find somewhere that's hotter than where you are.</h1>
    <br />
    <hr class="my-4">
 
    <div class="row">
        <div class="col-md-4">
            <h2>Just Nearby</h2>
            <p>
                Want to be a little warmer but don't want to go too far. Try searching @Html.ActionLink("Nearby", "Nearby{ll}", "Hottest")
            </p>
        </div>
        <div class="col-md-4">
            <h2>Follow the Sun</h2>
            <p>
                Got some time to kill? Head to the nearest, warmest place then do the same again and again until you can't find anywhere warmer. @Html.ActionLink("Explore From Here", "Explore{ll}", "Hottest")
            </p>
        </div>
        <div class="col-md-4">
            <h2>All over the Place</h2>
            <p>
                Peak at lots of places around the country then start exploring from the hottest one. @Html.ActionLink("Look Further", "ScatterGunSearch{ll}", "Hottest")</li>
            </p>
        </div>
    </div>
   
    <hr class="my-4">
    <br />
    <p class="lead">This is a demo app using the current weather API from </p>
    <p><a href="https://openweathermap.org" class="btn btn-warning btn-lg">OpenWeatherMap</a></p>

</div>

