@using ProjectQ.Models
@model ProjectQ.Models.Coordinates

<div class="jumbotron">
    <h4>Follow the Sun</h4><hr />
    <div class="Results" style="width:100%; align-content: center;">
    <h5>Hang on a mo...</h5>
        <br /><image src="~/content/Loader.gif" alt="please wait"></image>
        
    </div>
    <hr />
</div>

@section scripts{
    <script>
        $(document).ready(function() {

            var url = "/Hottest/ExploreResults/@Model.Lat/@Model.Lng/";
            $.ajax({
                    url: url
                })
                .done(function(result) {
                    // replace content
                    $("div.Results").html(result);
                });

        });
     
    </script>
}