@model ProjectQ.Models.HotPlaceScatter

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="jumbotron">
        <h4>A week is a long time in politics but no time at all in software</h4>
        <hr />
        Thanks for showing interest in the frightfully complicated scattergun search. It's still in development but will appear here soon.
    </div>
}
